.navbar-container{
    height: 110px;
    background-color: black;
    display: flex;
    align-items: center;
}

.nav-item{
    color:white;
    cursor: pointer;
    border:1px solid white;
    border-radius: 24px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 12px;

}

.nav-item:hover{
    opacity: 0.8;
}